.logo {
    display: block;
    &__svg {
        width: 150px;
        height: auto;
    }
    &__letter {
        fill: $white;
    }
    &__inner {
        fill: $main-text;
    }
    &--footer {
        margin-top: 30px;
        .logo__letter {
            fill: $main-text;
        }
        .logo__inner {
            fill: $main-color;
        }
    }
}