.search {
    background: rgba($white, 0.9);
    box-shadow: 0px 5px 15px rgba($black, 0.4);
    @include respond-to(lg) {
        margin: 0 15px;
    }
    &__form {
        @include respond-to(xl) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__inner {
        padding: 25px 15px;
        @include respond-to(sm) {
            display: flex;
            flex-wrap: wrap;
        }
        @include respond-to(xl) {
            flex-wrap: nowrap;
            flex: 1;
        }
    }
    &__box {
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 15px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        justify-content: flex-end;
        width: 100%;
        @include respond-to(sm) {
            width: 50%;
        }
        @include respond-to(xl) {
            padding: 0 15px;
            flex: 1;
        }
        &--from-city {
            @include respond-to(xl) {
                padding-right: 30px;
            }
            &::after {
                position: absolute;
                top: 52%;
                right: -12px;
                content: '';
                background: no-repeat center url('../../img/search-arrows.png');
                width: 25px;
                height: 25px;
                display: none;
                @include respond-to(xl) {
                    display: block;
                }
            }
        }
        &--dest-city {
            @include respond-to(xl) {
                padding-left: 30px;
            }
        }
    }
    &__title {
        font-weight: 600;
        margin-bottom: 4px;
        display: block;
        text-align: left;
        font-size: 18px;
    }
    &__input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid $border;
        font-size: 18px;
        &--persons {
            width: 100px;
        }
    }
    &__input-wrapper {
        position: relative;
        width: 100%;
        &--persons {
            width: auto;
        }
    }
    &__add-button {
        font-weight: 600;
        align-self: center;
        border: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        background: 0;
        font-size: 18px;
        width: 100%;
        img {
            margin-right: 10px;
        }
    }
    &__persons-button, .ui-datepicker-trigger {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background: 0;
        border: 0;
        padding: 5px 15px;
        border-left: 2px solid $border;
    }
    &__button {
        background: $main-color;
        border: 0;
        color: $white;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        cursor: pointer;
        @include transition;
        @include events {
            text-decoration: none;
            background: $hover-color;
        }
        @include respond-to(xl) {
            width: 250px;
        }
        img {
            margin-right: 10px;
        }
    }
    &__slider {
        width: 100px;
        position: absolute;
        bottom: -15px;
        z-index: 999;
    }
}
