.intro {
    position: relative;
    min-height: 400px;
    text-align: center;
    padding: 30px 0;
    @include flex;
    flex-wrap: wrap;
    align-content: center;
    &__images {
        z-index: -1;
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &::before {
            content: '';
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 40%;
            opacity: .3;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__title {
        font-weight: 800;
        font-size: 32px;
        margin: 0;
        width: 100%;
        color: $white;
        text-shadow: 1px 1px 1px lighten($black, 30);
    }
}